a   {
    text-decoration: none;
    color: navy;
}

.contactus  {
    position: absolute;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contactus:hover .dropd {
    display: block;
}

.dropdown-button    {
    background-color: #c2c9a250;
    color: seashell;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-button:hover  {
    background-color: seagreen;
}

.dropd  {
    display: none;
    position: absolute;
    background-color: #c2c9a2;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropd a    {
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropd a:hover  {
    background-color: hsl(0, 0%, 95%);
}

.dropd li   {
    list-style: none;
}