a   {
    text-decoration: none;
    color: navy;
}

.contactus  {
    position: relative;
    display: inline-block;
}

.contactus:hover .dropd {
    display: block;
}

.dropdown-button    {
    background-color: #4caf50;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-button:hover  {
    background-color: #3e8e41;
}

.dropd  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropd a    {
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropd a:hover  {
    background-color: hsl(0, 0%, 95%);
}

.dropd li   {
    list-style: none;
}