.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 204.9px;
    height: 174px;
}

.inputted    {
    padding-top: 10px;
    max-width: 172.35px;
    height: 22px;
    padding-bottom: 10px;
}

.input  {
    border-radius: 20px;
    align-self: center;
}

.input:placeholder-shown    {
    text-align: center;
}

.submit {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 172.35px;
    height: 112px;
    color: navy;
}